/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body { padding: 10px; }

.navbar-brand.navbar-image {
    padding: 0 20px 0 0;
    display: flex;
 }

 .bg {
  /* The image used */
  background-image: url("assets/ComputerScience.jpg");
  /* Full height */
  height: 50%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ctstext {
  position: absolute;
  /* transform: translate(50%,-50%); */
  text-transform: uppercase;
  font-family: verdana;
  font-size: 1.25em;
  font-weight: 800;
  color: #000000;
  text-shadow: 1px 1px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

.ctstext2 {
  position: absolute;
  /* transform: translate(50%,-50%); */
  text-transform: uppercase;
  font-family: verdana;
  font-size: 1.75em;
  font-weight: 800;
  color: #000000;
  text-shadow: 1px 1px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

.ctsbutton {
  /* position: absolute; */
  /* transform: translate(50%,-50%); */
 /* text-transform: uppercase; */
 /* font-family: verdana; */
  font-size: 1.25em;
  font-weight: 800;
  color: #000000;
  text-shadow: 1px 1px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

.ctstable1 {
  /* position: absolute; */
  
 /* text-transform: uppercase; */
 /* font-family: verdana; */
  font-size: 1em;
  font-weight: 400;
  color: #000000;
  text-shadow: 1px 1px 1px #696969,
  1px 18px 6px rgba(253, 252, 252, 0.966),
  1px 22px 10px rgba(253, 252, 252, 0.966),
  1px 25px 35px rgba(253, 252, 252, 0.966),
  1px 30px 60px rgba(253, 252, 252, 0.966);
}


.rgform {
    display: flex;
    /*border: 1px solid black;*/
    background-color: rgb(204, 233, 203);
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.rgformbuild {
  display: flex;
  /*border: 1px solid black;*/
  background-color: rgb(226, 200, 152);
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.bgcolor1 {
    background-color: rgb(180, 225, 243);
    border: 1px solid black;
    border-radius: 15px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

.bgcolor2 {
    background-color: rgb(222, 241, 198);
    border: 1px solid black;
    border-radius: 15px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

.bgcolor3 {
    background-color: rgb(230, 208, 228);
    border: 1px solid black;
    border-radius: 15px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .bgcolor4 {
    background-color: rgb(241, 226, 241);
    border: 1px solid black;
    border-radius: 10px;
  }

  .bgcolor5 {
    background-color: rgb(250, 172, 70);
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

.ctstable {
    border:1px solid #080808;
    border-collapse:collapse;
    font-size:15px;
    font-family:Arail;
    padding:10px;
    color:rgb(0, 0, 0);
    background:linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background:-webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%)
  }

  .focusDlt {
    border-color: red;
    box-shadow: 0 0 0 0.5rem rgba(233, 8, 19, 0.25);
} 

#addQuestion{
  background-color: #C5C9B8;
  width: 80%;
  color: #333333;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
}

.addBuildQuestion{
  background-color: #f0c08a;
  width: 80%;
  color: #333333;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
}
